
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
a:hover{
    color: #ffffff;
}
button:hover{
    background-color: #3b3b3b;
}
@font-face { font-family: 'Nova Square'; 
    src: url(/font/Nova_Square/NovaSquare-Regular.ttf); 
} 

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


/* ----------------------------HEADER-------------------------------*/
header{
    
}
.header{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}
.desktopMenu{
    display: block;
}

.listMenu{
    display: inline;
    font-size: 2em;
}

.linkMenu{
    text-decoration: none;
    color:rgb(63, 0, 0);
}

h1 {
    padding: 0.4em;
    background-color: rgba(128, 128, 128, 0.87);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    font-size: 4em;
    color: rgb(32, 32, 32);
    font-family: 'Nova Square', sans-serif;
    border-radius: 15px 0 15px 0;
    margin-right: 3%;
    display: flex;
    justify-content: flex-start;
    width: 30%;
    
}

h1:hover{
    color: rgb(255, 255, 255);
    
}

.logoBox{
   

}
.logo{
    width: 20%;
    border-radius: 50%;
}

.ulMenu{
    display: flex;
    justify-content: space-around; 
    background-color: rgba(170, 170, 170, 0.705);
    padding: 0.5em;
    width: 50em;

}

/* ----------------------------MENU BURGER-------------------------------*/
.menuBurgerMobil{
    position: fixed;
    width: 0px;
    display: none ;
}
#menuBurger{
    display: none ;
}
.ulBurger{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hamburgerLogo{
    cursor: pointer;
    background: rgb(68, 68, 68);
    width: 250px;
    display: block;
    color: white;
    text-align: right;
    transform: translateX(-200px);
    padding: 10px;
    border-top-right-radius: 20%;
    font-size: 30px;
}
.navBurger{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.435);
    overflow: hidden;
    width: 250px;
    height: 340px;
    transform: translateX(-250px);
    backdrop-filter: blur(7px);
    border-end-end-radius: 10%;
}
#hamburgerLogo, .navBurger{
    transition: 1.2s;
}
#menuBurger:checked ~ #hamburgerLogo,   /* -------Checkbox activation------*/
#menuBurger:checked ~ .navBurger {
    transform: translate(0);
}
.burgerLink {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.burgerLi{
    margin: 20px;
    list-style: none;
}
.acceuil{
    margin-top: 50px;
    margin-bottom: 20px;
    list-style: none;
}
.spanBurger{
    font-size: 20px;
    margin-right: 33px;
}

/* ----------------------------BURGER END-------------------------------*/

main{
}

body {

}

.paralax{                                                                      /*---------- PARALAX -----------*/
    background-image: url(/images/abstract-turing-pattern-vector.jpg);
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-family: 'Nova Square', sans-serif;

}
.first_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    background-color: rgba(170, 170, 170, 0.705);
    padding: 2%;
    border-radius: 30px 30px 30px 30px;
}
.txtFirstSection{
    margin-top: 5%;
}
.boxFirstSection{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    font-size: 30px;
    margin-top: 2%;
}

.presentation{
    background-color: rgba(170, 170, 170, 0.877);
    padding : 5%;
    margin: 10%;
    margin-top: 7em;
    border-radius: 30px 30px 30px 30px;
    font-size: 150%;
}

.benevoles{
    width:75%;
    border-style: inset;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 3) ;
}
.stretch{
    width: 100%;
    border-style: inset;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 3) ;
}
.secondSection{
    width: 90%;
    height: 500px;
    margin: 5%;
    background : linear-gradient(90deg, #8360c3, #2ebf91);
    border-radius: 32% 32% 27% 30% / 7% 4% 8% 7% ;
    opacity: 0.8;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border: 10px #eeff00 dotted;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 3) ;
}
.boutons{
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 3) ;
    border-radius: 32% 32% 27% 30% / 7% 4% 8% 7% ;
    width: 130px;
    height: 50px;
    background-color: #919191;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 150px 200px;
    gap:10px;
}
.box{
    font-size: 40px;
    border-style: solid;
    color: white;
    background-color: #919191;
}
.exoContainer1{
    display: grid;
    background-color: #2ebf91;
    color: #ffffff;
    gap: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box1{
    grid-column: 1/4;

}
.box2{
    grid-column: 1/3;

}
.box3{
    grid-column: 3/4;
    grid-row: 2/4;
}
.box4{
    grid-column: 1/2;
}
.box5{
    display: none;
}
.box6{
    grid-column: 1/3;
}

.box8{
    grid-column: 1/4;
}


.exoContainer2{
    display: grid;
    background-color: #2ebf91;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 100px 100px 100px 100px 100px ;
    color: #ffffff;
    gap: 5px;
    margin-bottom: 20px;
}
.boxA{
    grid-column: 1/5;
}
.boxB{
    grid-column: 1/3;
    grid-row: 2/4;

}
.boxE{
    grid-column: 3/5;
    grid-row: 3/4;
}
.boxF{
    grid-column: 1/5;
}
.boxG{
    grid-column: 1/2;
}
.boxH{
    grid-column: 2/5;
}
.backHome{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.backHome:hover{
    font-size: 150px;
    transition: 9s;
    color: rgb(0, 243, 73);
}
table{
    color: rgb(255, 0, 0);
    font-size: 20px;
    background-color: #eeff00;
    border-style: solid;
    border-collapse:collapse;
    margin: auto;
}
td, th {
    border : 3px solid black;
    padding: 15px;
}
caption{
    font-size: 30px;
}
form{
    color: white;
    background-color: grey;
    text-align: center;
    font-size: 10px;
}

/* ----------------------------MEDIA QUERY-------------------------------*/

@media screen and (max-width: 800px){
    .menuBurgerMobil{
        display: block;
    }
    .desktopMenu{
        display: none;
    }
    .first_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .benevoles, .stretch{
        width: 180%;
    }
    .boxFirstSection{
        margin-top: 5%;
        margin-left: 5%;
        font-size: 18px;
        margin-top: 3%;
    }
    .txtFirstSection{
        text-align: center;
        margin-top: 10%;
        width: 150%;
        margin: 10%;
    }
    
    .logo{
        width: 300px;
        
    }
    .logoBox{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20%;
    }
    h1{
        height: 20%;
        font-size: 50px;
    }

@media screen and (max-width: 425px){

}